* {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

@media screen and (min-width: 560px) {
  .wrapper {
    margin: 0 3rem;
  }
}

.wrapper {
  margin-bottom: 3rem;
}

header {
  margin-bottom: 1rem;
  padding: 1rem;
}

.content {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

.twitter-link {
  text-decoration: underline
}

.link {
  text-decoration: none;
}

.item-empty {
  visibility: hidden;
}

.full-layout {
  background: linear-gradient(to top right, #21708C,#5EB0C5);
}

.center-container {
  width: 100%;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.logo {
  top: 6%;
  left: 9%;
}

@media(max-width: 767px) {
  .logo {
    top: 5%;
    left: 7%;
  }
}
